$themeColourOne: rgb(118, 114, 152);
$themeColourTwo: rgb(20, 20, 54);
$linkFontSize:0;
$buttonFontSize:0;
$activeColor: rgb(255, 255, 255);
$myGrey:  rgb(189, 189, 189);
$myGreen: rgb(0, 252, 76);

.App{
    padding: 3rem;
    padding-left: 31rem;
    padding-top: 8rem;
}

@media (max-width:720px) {
    .App{
       padding-left: 10rem; 
    }
}
.WelcomePage{
    display: flex;
    // background-color: red;
    height: 100vh;
}

.Sidebar{
    background-color: $themeColourOne;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-right: 6rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    .head{
        display: flex;
        gap: 1rem;
        align-items: center;
        .user-image{
            width: 5rem;
            height: 5rem;
            background-color: grey;
            border-radius: 50%;
        }
        .user-details{
            display: flex;
            flex-direction: column;
            gap: 1px;
            font-size: 1.2rem;
            span.name{
                font-weight: 600;
            }
            a{
                text-decoration: underline;
            }
        }
    }

    button.new-project-btn{
        background-color: $themeColourTwo;
        border: none;
        border-radius: 0.4rem;
        color: white;
        padding: 0.7rem;
        text-align: start;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            background-color: white;
            color: $themeColourTwo;
            svg{
                color: $themeColourTwo;
            }
        }
        svg{
            color: white;
            font-size: 2rem;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        padding: 2rem;
        padding-top: 1rem;
        a{
            color: $themeColourTwo;
            text-decoration: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all 0.2s;
            svg{
                font-weight: 600;
                font-size: 2rem;
            }
            &:hover{
                color: $myGrey
            }
            &.active{
                color: $myGreen;
            }
        }
    }
    button.logout-btn{
        position: absolute;
        bottom: 4rem;
        background-color: transparent;
        border: none;
        border-radius: 0.4rem;
        color: $themeColourTwo;
        padding: 0.7rem;
        padding-left: 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        svg{
            color: $themeColourTwo;
            font-size: 2rem;
        }
    }
}


@media (max-width: 720px) {
    .Sidebar{
        padding: 1rem 0;
        width: 7rem;
        align-items: center;
        .head{
            .user-details{
                display: none;
            }
        }
        button.new-project-btn{
            padding: 1rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                display: none;
            }
        }
        nav{
            a{
                span{
                    display: none;
                }
            }
        }
        button.logout-btn{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: none;
            }
        }
    }
}

.welcome-page-main-section{
    flex-grow: 1;
    background-color: $themeColourTwo;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: $themeColourOne;
    gap: 1rem;
    h1.scholard-logo-large{
        padding: 0;
        margin: 0;
        font-size: 3rem;
        color: white;
    }
    h2.welcome-text-large{
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
    }
    p.info-text{
        padding: 0;
        margin: 0;
        width: 20rem;
        text-align: center;
        margin-top: -0.7rem;
    }
    p.learnmore-link{
        font-size: 1.2rem;
        color: white;
    }
}

.MessageTile{
    position: absolute;
    bottom: 3rem;
    width: 60%;
    form.messsage-tile-form{
        background-color: $themeColourOne;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1.5rem;
        input.message-tile-inp{
            flex-grow: 1;
            background-color: transparent;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.3rem;
            padding: 0.3rem;
            color: black;
            &::placeholder{
                color: rgb(75, 73, 73);
            }
        }
        button.attach-file-btn{
            background-color: transparent;
            border: none;
            color: $themeColourTwo;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            font-size: 1.8rem;
            border-radius: 3rem;
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                color: white;
            }
        }
        button.submit-btn{
            background-color: $themeColourTwo;
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            font-size: 1.8rem;
            border-radius: 3rem;
            svg{
                transform: translateX(2px);
            }
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                background-color: white;
                color: $themeColourTwo;
                svg{
                    color: $themeColourTwo;
                }
            }
        }
    }
}

.SettingsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.SavedChatsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2{
            background-color: $themeColourTwo;
            position: fixed;
            top: 0;
            margin: 0;
            right: 0;
            left: 27.6rem;
            padding: 2rem;
        }
    }
}

@media (max-width: 720px) {
    .SavedChatsPage{
        main{
            h2{
                left: 7rem;
            }
        }
    }
}

.AllProjectsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.TipsAndFeaturesPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.CreateProjectModal{
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.674);
    .tile{
        background-color: $themeColourOne;
        padding: 2rem 1rem;
        border-radius: 2rem;
        width: 70%;
        max-width: 50rem;
        .buttons{
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            margin-top: 3rem;
            .cancel-btn{
                background-color: transparent;
                color: $themeColourTwo;
                padding: 0.5rem 2rem;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    color: white;
                    border-color: white;
                }
            }
            .save-btn{
                background-color: $themeColourTwo;
                color: white;
                padding: 0.5rem 2rem;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                transition: all 0.2s;
                &:hover{
                    background-color: white;
                    color: $themeColourTwo;
                }
            }
        }
        h2{
            padding: 0;
            margin: 0;
            color: white;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        form.create-project-form{
            color: white;
            display: flex;
            flex-direction: column;
            .field{
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom: 0.5rem;
                }
                button{
                    align-self: flex-end;
                    background-color: transparent;
                    border: 1px solid $themeColourTwo;
                    color: $themeColourTwo;
                    padding: 0.5rem 2rem;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover{
                        color: white;
                        border-color: white;
                    }
                }
                input{
                    width: 100%;
                    box-sizing: border-box;
                    background-color: $themeColourTwo;
                    color: white;
                    border: none;
                    outline: none;
                    font-size: 1.3rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    &::placeholder{
                        color: rgb(75, 73, 73);
                    }
                }
            }
            .field-invite{
                display: flex;
                align-items: center;
                gap: 1rem;
                .invite-btn{
                    align-self: flex-end;
                    margin-bottom: 1.5rem;
                    padding: 0.5rem 2rem;
                }
                .container{
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    label{
                        margin-bottom: 1rem;
                    }
                    input{
                        box-sizing: border-box;
                        background-color: $themeColourTwo;
                        color: white;
                        border: none;
                        outline: none;
                        font-size: 1.3rem;
                        padding: 1rem;
                        border-radius: 1rem;
                        margin-bottom: 1rem;
                        &::placeholder{
                            color: rgb(75, 73, 73);
                        }
                    }
                }
                button{
                    align-self: flex-end;
                    background-color: transparent;
                    border: 1px solid $themeColourTwo;
                    color: $themeColourTwo;
                    padding: 0.3rem;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        color: white;
                        border-color: white;
                    }
                }
            }
        }
    }
}


.NotFoundPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $themeColourTwo;
    color: white;
    .tile{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color: white;
            font-size: 2rem;
            &:hover{
                color: gray;
            }
        }
    }
}


.SavedChatTile{
    background-color: $themeColourOne;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    max-width: 70rem;
    margin: 0 auto;
    border-radius: 2rem;
    &:last-child{
        margin-bottom: 2rem;
    }
    button{
        background-color: transparent;
        border: none;
        color: $myGreen;
        font-size: 1.8rem;
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    .upper-buttons{
        align-self: flex-end;
    }
    p{
        padding: 0;
        margin: 0;
    }
    .lower-buttons{
        display: flex;
        justify-content: space-between;
        a{
            color: $myGreen;
        }
    }
    .data-asked{
        color: $myGrey;
    }
    .question{
        color: $themeColourTwo;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .text-content{
        color: white;
    }
}