$themeColourOne: rgb(154, 150, 199);
$themeColourTwo: rgb(27, 27, 75);
$linkFontSize:0;
$buttonFontSize:0;
$activeColor: rgb(255, 255, 255);

.WelcomePage{
    display: flex;
    // background-color: red;
    height: 100vh;
}

.Sidebar{
    background-color: $themeColourOne;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-right: 6rem;
    .head{
        display: flex;
        gap: 1rem;
        align-items: center;
        .user-image{
            width: 5rem;
            height: 5rem;
            background-color: grey;
            border-radius: 50%;
        }
        .user-details{
            display: flex;
            flex-direction: column;
            gap: 1px;
            font-size: 1.2rem;
            span.name{
                font-weight: 600;
            }
            a{
                text-decoration: underline;
            }
        }
    }

    button.new-project-btn{
        background-color: $themeColourTwo;
        border: none;
        border-radius: 0.4rem;
        color: white;
        padding: 0.7rem;
        text-align: start;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        svg{
            color: white;
            font-size: 2rem;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        padding: 2rem;
        padding-top: 1rem;
        
        a{
            color: $themeColourTwo;
            text-decoration: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 1rem;
            svg{
                font-weight: 600;
                font-size: 2rem;
            }
            &:hover{
                color: rgb(189, 189, 189);
            }
            &.active{
                color: $activeColor;
            }
        }
    }
    button.logout-btn{
        position: absolute;
        bottom: 4rem;
        background-color: transparent;
        border: none;
        border-radius: 0.4rem;
        color: $themeColourTwo;
        padding: 0.7rem;
        padding-left: 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        svg{
            color: $themeColourTwo;
            font-size: 2rem;
        }
    }
}


@media (max-width: 720px) {
    .Sidebar{
        padding: 1rem 0;
        width: 7rem;
        align-items: center;
        .head{
            .user-details{
                display: none;
            }
        }
        button.new-project-btn{
            padding: 1rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                display: none;
            }
        }
        nav{
            a{
                span{
                    display: none;
                }
            }
        }
        button.logout-btn{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: none;
            }
        }
    }
}

.welcome-page-main-section{
    flex-grow: 1;
    background-color: $themeColourTwo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $themeColourOne;
    gap: 1rem;
    h1.scholard-logo-large{
        padding: 0;
        margin: 0;
        font-size: 3rem;
        color: white;
    }
    h2.welcome-text-large{
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
    }
    p.info-text{
        padding: 0;
        margin: 0;
        width: 20rem;
        text-align: center;
        margin-top: -0.7rem;
    }
    p.learnmore-link{
        font-size: 1.2rem;
        color: white;
    }
}

.MessageTile{
    position: absolute;
    bottom: 3rem;
    width: 60%;
    form.messsage-tile-form{
        background-color: $themeColourOne;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1.5rem;
        input.message-tile-inp{
            flex-grow: 1;
            background-color: transparent;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.3rem;
            padding: 0.3rem;
            color: black;
            &::placeholder{
                color: rgb(75, 73, 73);
            }
        }
        button.attach-file-btn{
            background-color: transparent;
            border: none;
            color: $themeColourTwo;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            font-size: 1.8rem;
            border-radius: 3rem;
        }
        button.submit-btn{
            background-color: $themeColourTwo;
            color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            font-size: 1.8rem;
            border-radius: 3rem;
            svg{
                transform: translateX(2px);
            }
        }
    }
}

.SettingsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
    }

}

.SavedChatsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
    }
}

.AllProjectsPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
    }
}

.TipsAndFeaturesPage{
    display: flex;
    height: 100vh;
    background-color: $themeColourTwo;
    main{
        color: white;
        flex-grow: 1;
    }
}