.WelcomePage {
  display: flex;
  height: 100vh;
}

.Sidebar {
  background-color: rgb(154, 150, 199);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-right: 6rem;
}
.Sidebar .head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.Sidebar .head .user-image {
  width: 5rem;
  height: 5rem;
  background-color: grey;
  border-radius: 50%;
}
.Sidebar .head .user-details {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 1.2rem;
}
.Sidebar .head .user-details span.name {
  font-weight: 600;
}
.Sidebar .head .user-details a {
  text-decoration: underline;
}
.Sidebar button.new-project-btn {
  background-color: rgb(27, 27, 75);
  border: none;
  border-radius: 0.4rem;
  color: white;
  padding: 0.7rem;
  text-align: start;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Sidebar button.new-project-btn svg {
  color: white;
  font-size: 2rem;
}
.Sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
}
.Sidebar nav a {
  color: rgb(27, 27, 75);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Sidebar nav a svg {
  font-weight: 600;
  font-size: 2rem;
}
.Sidebar nav a:hover {
  color: rgb(189, 189, 189);
}
.Sidebar nav a.active {
  color: rgb(255, 255, 255);
}
.Sidebar button.logout-btn {
  position: absolute;
  bottom: 4rem;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: rgb(27, 27, 75);
  padding: 0.7rem;
  padding-left: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Sidebar button.logout-btn svg {
  color: rgb(27, 27, 75);
  font-size: 2rem;
}

@media (max-width: 720px) {
  .Sidebar {
    padding: 1rem 0;
    width: 7rem;
    align-items: center;
  }
  .Sidebar .head .user-details {
    display: none;
  }
  .Sidebar button.new-project-btn {
    padding: 1rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Sidebar button.new-project-btn span {
    display: none;
  }
  .Sidebar nav a span {
    display: none;
  }
  .Sidebar button.logout-btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Sidebar button.logout-btn span {
    display: none;
  }
}
.welcome-page-main-section {
  flex-grow: 1;
  background-color: rgb(27, 27, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(154, 150, 199);
  gap: 1rem;
}
.welcome-page-main-section h1.scholard-logo-large {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: white;
}
.welcome-page-main-section h2.welcome-text-large {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.welcome-page-main-section p.info-text {
  padding: 0;
  margin: 0;
  width: 20rem;
  text-align: center;
  margin-top: -0.7rem;
}
.welcome-page-main-section p.learnmore-link {
  font-size: 1.2rem;
  color: white;
}

.MessageTile {
  position: absolute;
  bottom: 3rem;
  width: 60%;
}
.MessageTile form.messsage-tile-form {
  background-color: rgb(154, 150, 199);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
}
.MessageTile form.messsage-tile-form input.message-tile-inp {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
  padding: 0.3rem;
  color: black;
}
.MessageTile form.messsage-tile-form input.message-tile-inp::-moz-placeholder {
  color: rgb(75, 73, 73);
}
.MessageTile form.messsage-tile-form input.message-tile-inp::placeholder {
  color: rgb(75, 73, 73);
}
.MessageTile form.messsage-tile-form button.attach-file-btn {
  background-color: transparent;
  border: none;
  color: rgb(27, 27, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 3rem;
}
.MessageTile form.messsage-tile-form button.submit-btn {
  background-color: rgb(27, 27, 75);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 3rem;
}
.MessageTile form.messsage-tile-form button.submit-btn svg {
  transform: translateX(2px);
}

.SettingsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(27, 27, 75);
}
.SettingsPage main {
  color: white;
  flex-grow: 1;
}

.SavedChatsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(27, 27, 75);
}
.SavedChatsPage main {
  color: white;
  flex-grow: 1;
}

.AllProjectsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(27, 27, 75);
}
.AllProjectsPage main {
  color: white;
  flex-grow: 1;
}

.TipsAndFeaturesPage {
  display: flex;
  height: 100vh;
  background-color: rgb(27, 27, 75);
}
.TipsAndFeaturesPage main {
  color: white;
  flex-grow: 1;
}/*# sourceMappingURL=App.css.map */