.App {
  padding: 0rem 3rem;
  padding-left: 31rem;
}

@media (max-width: 720px) {
  .App {
    padding-left: 10rem;
  }
}
.WelcomePage {
  display: flex;
  padding-top: 6rem;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
}

.Sidebar {
  background-color: rgb(118, 114, 152);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-right: 6rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.Sidebar .head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.Sidebar .head .user-image {
  width: 5rem;
  height: 5rem;
  background-color: grey;
  border-radius: 50%;
}
.Sidebar .head .user-details {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 1.2rem;
}
.Sidebar .head .user-details span.name {
  font-weight: 600;
}
.Sidebar .head .user-details a {
  text-decoration: underline;
}
.Sidebar button.new-project-btn {
  background-color: rgb(20, 20, 54);
  border: none;
  border-radius: 0.4rem;
  color: white;
  padding: 0.7rem;
  text-align: start;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.Sidebar button.new-project-btn:hover {
  background-color: white;
  color: rgb(20, 20, 54);
}
.Sidebar button.new-project-btn:hover svg {
  color: rgb(20, 20, 54);
}
.Sidebar button.new-project-btn svg {
  color: white;
  font-size: 2rem;
}
.Sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
}
.Sidebar nav a {
  color: rgb(20, 20, 54);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
}
.Sidebar nav a svg {
  font-weight: 600;
  font-size: 2rem;
}
.Sidebar nav a:hover {
  color: rgb(189, 189, 189);
}
.Sidebar nav a.active {
  color: rgb(0, 252, 76);
}
.Sidebar button.logout-btn {
  position: absolute;
  bottom: 4rem;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: rgb(20, 20, 54);
  padding: 0.7rem;
  padding-left: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Sidebar button.logout-btn svg {
  color: rgb(20, 20, 54);
  font-size: 2rem;
}

@media (max-width: 720px) {
  .Sidebar {
    padding: 1rem 0;
    width: 7rem;
    align-items: center;
  }
  .Sidebar .head .user-details {
    display: none;
  }
  .Sidebar button.new-project-btn {
    padding: 1rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Sidebar button.new-project-btn span {
    display: none;
  }
  .Sidebar nav a span {
    display: none;
  }
  .Sidebar button.logout-btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Sidebar button.logout-btn span {
    display: none;
  }
}
.welcomepage-message-tile {
  background-color: rgb(118, 114, 152);
  color: white;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  background-color: rgb(118, 114, 152);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
  max-width: 70rem;
  border-radius: 2rem;
}
.welcomepage-message-tile:first-child .text-content {
  font-size: 2rem;
  font-weight: 600;
}
.welcomepage-message-tile button {
  background-color: transparent;
  border: none;
  color: rgb(0, 252, 76);
  font-size: 1.8rem;
  cursor: pointer;
}
.welcomepage-message-tile button:hover {
  opacity: 0.5;
}
.welcomepage-message-tile .upper-buttons {
  align-self: flex-end;
}
.welcomepage-message-tile p {
  padding: 0;
  margin: 0;
}
.welcomepage-message-tile .lower-buttons {
  display: flex;
  justify-content: space-between;
}
.welcomepage-message-tile .lower-buttons a {
  color: rgb(0, 252, 76);
}
.welcomepage-message-tile .data-asked {
  color: rgb(189, 189, 189);
}
.welcomepage-message-tile .question {
  color: rgb(20, 20, 54);
  font-size: 1.5rem;
  font-weight: 600;
}
.welcomepage-message-tile .text-content {
  color: white;
}

.welcome-page-main-section {
  flex-grow: 1;
  background-color: rgb(20, 20, 54);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(118, 114, 152);
  gap: 1rem;
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 12rem;
  max-height: 100%;
  overflow-y: scroll;
}
.welcome-page-main-section::-webkit-scrollbar {
  display: none;
}
.welcome-page-main-section h1.scholard-logo-large {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: white;
}
.welcome-page-main-section h2.welcome-text-large {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.welcome-page-main-section p.info-text {
  padding: 0;
  margin: 0;
  width: 20rem;
  text-align: center;
  margin-top: -0.7rem;
}
.welcome-page-main-section p.learnmore-link {
  font-size: 1.2rem;
  color: white;
}

.MessageTile {
  position: fixed;
  bottom: 0%;
  left: 27rem;
  right: 0;
  background-color: rgb(20, 20, 54);
  padding: 1rem;
  padding-bottom: 3rem;
}
.MessageTile form.messsage-tile-form {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(118, 114, 152);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
}
.MessageTile form.messsage-tile-form input.message-tile-inp {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
  padding: 0.3rem;
  color: black;
}
.MessageTile form.messsage-tile-form input.message-tile-inp::-moz-placeholder {
  color: rgb(75, 73, 73);
}
.MessageTile form.messsage-tile-form input.message-tile-inp::placeholder {
  color: rgb(75, 73, 73);
}
.MessageTile form.messsage-tile-form button.attach-file-btn {
  background-color: transparent;
  border: none;
  color: rgb(20, 20, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.MessageTile form.messsage-tile-form button.attach-file-btn:hover {
  color: white;
}
.MessageTile form.messsage-tile-form button.submit-btn {
  background-color: rgb(20, 20, 54);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.MessageTile form.messsage-tile-form button.submit-btn svg {
  transform: translateX(2px);
}
.MessageTile form.messsage-tile-form button.submit-btn:hover {
  background-color: white;
  color: rgb(20, 20, 54);
}
.MessageTile form.messsage-tile-form button.submit-btn:hover svg {
  color: rgb(20, 20, 54);
}

@media (max-width: 720px) {
  .MessageTile {
    left: 7rem;
  }
}
.SettingsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 54);
}
.SettingsPage main {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SavedChatsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 54);
  padding-top: 8rem;
}
.SavedChatsPage .saved-chats {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.SavedChatsPage main {
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.SavedChatsPage main h2 {
  background-color: rgb(20, 20, 54);
  position: fixed;
  top: 0;
  margin: 0;
  right: 0;
  left: 27.6rem;
  padding: 2rem;
}

@media (max-width: 720px) {
  .SavedChatsPage main h2 {
    left: 7rem;
  }
}
.AllProjectsPage {
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 54);
}
.AllProjectsPage main {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TipsAndFeaturesPage {
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 54);
}
.TipsAndFeaturesPage main {
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateProjectModal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.674);
}
.CreateProjectModal .tile {
  background-color: rgb(118, 114, 152);
  padding: 2rem 1rem;
  border-radius: 2rem;
  width: 70%;
  max-width: 50rem;
}
.CreateProjectModal .tile .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 3rem;
}
.CreateProjectModal .tile .buttons .cancel-btn {
  background-color: transparent;
  color: rgb(20, 20, 54);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.CreateProjectModal .tile .buttons .cancel-btn:hover {
  color: white;
  border-color: white;
}
.CreateProjectModal .tile .buttons .save-btn {
  background-color: rgb(20, 20, 54);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.CreateProjectModal .tile .buttons .save-btn:hover {
  background-color: white;
  color: rgb(20, 20, 54);
}
.CreateProjectModal .tile h2 {
  padding: 0;
  margin: 0;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.CreateProjectModal .tile form.create-project-form {
  color: white;
  display: flex;
  flex-direction: column;
}
.CreateProjectModal .tile form.create-project-form .field {
  display: flex;
  flex-direction: column;
}
.CreateProjectModal .tile form.create-project-form .field label {
  margin-bottom: 0.5rem;
}
.CreateProjectModal .tile form.create-project-form .field button {
  align-self: flex-end;
  background-color: transparent;
  border: 1px solid rgb(20, 20, 54);
  color: rgb(20, 20, 54);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}
.CreateProjectModal .tile form.create-project-form .field button:hover {
  color: white;
  border-color: white;
}
.CreateProjectModal .tile form.create-project-form .field input {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(20, 20, 54);
  color: white;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.CreateProjectModal .tile form.create-project-form .field input::-moz-placeholder {
  color: rgb(75, 73, 73);
}
.CreateProjectModal .tile form.create-project-form .field input::placeholder {
  color: rgb(75, 73, 73);
}
.CreateProjectModal .tile form.create-project-form .field-invite {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.CreateProjectModal .tile form.create-project-form .field-invite .invite-btn {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
}
.CreateProjectModal .tile form.create-project-form .field-invite .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.CreateProjectModal .tile form.create-project-form .field-invite .container label {
  margin-bottom: 1rem;
}
.CreateProjectModal .tile form.create-project-form .field-invite .container input {
  box-sizing: border-box;
  background-color: rgb(20, 20, 54);
  color: white;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.CreateProjectModal .tile form.create-project-form .field-invite .container input::-moz-placeholder {
  color: rgb(75, 73, 73);
}
.CreateProjectModal .tile form.create-project-form .field-invite .container input::placeholder {
  color: rgb(75, 73, 73);
}
.CreateProjectModal .tile form.create-project-form .field-invite button {
  align-self: flex-end;
  background-color: transparent;
  border: 1px solid rgb(20, 20, 54);
  color: rgb(20, 20, 54);
  padding: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
}
.CreateProjectModal .tile form.create-project-form .field-invite button:hover {
  color: white;
  border-color: white;
}

.NotFoundPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 54);
  color: white;
}
.NotFoundPage .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NotFoundPage .tile a {
  color: white;
  font-size: 2rem;
}
.NotFoundPage .tile a:hover {
  color: gray;
}

.SavedChatTile {
  background-color: rgb(118, 114, 152);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
  max-width: 70rem;
  border-radius: 2rem;
}
.SavedChatTile:last-child {
  margin-bottom: 2rem;
}
.SavedChatTile button {
  background-color: transparent;
  border: none;
  color: rgb(0, 252, 76);
  font-size: 1.8rem;
  cursor: pointer;
}
.SavedChatTile button:hover {
  opacity: 0.5;
}
.SavedChatTile .upper-buttons {
  align-self: flex-end;
}
.SavedChatTile p {
  padding: 0;
  margin: 0;
}
.SavedChatTile .lower-buttons {
  display: flex;
  justify-content: space-between;
}
.SavedChatTile .lower-buttons a {
  color: rgb(0, 252, 76);
}
.SavedChatTile .data-asked {
  color: rgb(189, 189, 189);
}
.SavedChatTile .question {
  color: rgb(20, 20, 54);
  font-size: 1.5rem;
  font-weight: 600;
}
.SavedChatTile .text-content {
  color: white;
}/*# sourceMappingURL=App.css.map */